@import "tailwindcss";

@font-face {
  font-family: "Russo One";
  src: url("$lib/fonts/RussoOne-Regular.ttf");
}

body {
  font-family: "Russo One", sans-serif;
  color: hsl(0, 0%, 90%);
}

@theme {
  --color-red-primary: #e30226;
  --color-red-secondary: #990218;
  --color-red-accent: #fe4f6f;
  --color-red-button-accent: #fd0d35;
  --color-dark-primary: hsl(0, 0%, 9%);
  --color-dark-secondary: hsl(0, 0%, 18%);
  --color-dark-accent: hsl(0, 0%, 27%);
  --color-dark-hover: hsl(0, 0%, 35%);
  --color-border: hsl(0, 0%, 40%);
}

.btn-primary {
  --bg-color: var(--color-red-primary);
  --shadow-color: var(--color-red-secondary);
}

.btn-secondary {
  --bg-color: var(--color-dark-accent);
  --shadow-color: hsl(0, 0%, 15%);
}

.btn {
  --btn-depth: 4px;

  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  background-color: var(--bg-color);

  box-shadow: 0 var(--btn-depth) 0 var(--shadow-color);
  transition-duration: 142ms;
}

.btn:active:not(:disabled) {
  transform: translateY(var(--btn-depth));
  box-shadow: none;
}

.btn:disabled {
  opacity: 0.5;
  background-color: var(--color-dark-accent);
  box-shadow: 0 var(--btn-depth) 0 var(--color-dark-secondary);
  cursor: not-allowed;
}

.btn-primary:hover:not(:disabled) {
  background-color: var(--color-red-button-accent);
}

.btn-secondary:hover {
  background-color: var(--color-dark-hover);
}
